<mat-card class="reset-pw-card">
   <div class="header">
      <h1>Passwort zurücksetzen</h1>
   </div>
   <mat-card-content>
      <form [formGroup]="changePasswordForm" class="custom-form" (ngSubmit)="onSubmit()">
         <div class="input-field">
            <div class="form-field">
               <div class="input-wrapper">
                  <img src="public/img/icons/lock.png" alt="Lock" />
                  <input formControlName="password" type="password" required placeholder="Neues Passwort" />
               </div>
               <div
                  class="error-message"
                  *ngIf="(changePasswordForm.get('password')!.invalid && changePasswordForm.get('password')!.touched) || changePasswordForm.get('password')!.dirty"
               >
                  {{ passwordErrorMessage }}
               </div>
            </div>
            <div class="form-field">
               <div class="input-wrapper">
                  <img src="public/img/icons/lock.png" alt="Lock" />
                  <input formControlName="confirmPassword" type="password" required placeholder="Passwort bestätigen" />
               </div>
               <div
                  class="error-message"
                  *ngIf="
                     (changePasswordForm.get('confirmPassword')!.invalid && changePasswordForm.get('confirmPassword')!.touched) || changePasswordForm.get('confirmPassword')!.dirty
                  "
               >
                  {{ confirmPasswordErrorMessage }}
               </div>
            </div>
         </div>
         <div class="btn-container">
            <button mat-raised-button class="resetBtn" type="submit" [disabled]="changePasswordForm.invalid">Passwort ändern</button>
         </div>
      </form>
   </mat-card-content>
</mat-card>
<div class="success-msg-container" [class.show]="this.authService.isSuccessMessageVisible">
   <span>Passwort erfolgreich geändert!</span>
</div>
