.reset-pw-card {
    max-width: 700px;
    width: 100%;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    position: relative;
  }
  
  .custom-form .form-field {
    margin-bottom: 1em;
  }
  
  .custom-form .input-wrapper {
    display: flex;
    align-items: center;
    background-color: #eceefe;
    border-radius: 100px;
    padding: 18px 32px;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 32px;
  }
  
  .form-field {
    height: 60px;
    gap: 32px;
  }
  
  .input-wrapper {
    gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
  
    img {
      width: 22px;
      height: 22px;
    }
  
    input {
      border: none;
      outline: none;
      background: none;
      width: 100%;
      cursor: pointer;
      font-size: 18px;
    }
  
    &:hover {
      border: 1px solid black;
    }
  }
  
  .custom-form .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: left;
  }
  
  .btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  
    button {
      padding: 12px 25px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  
  .resetBtn {
    background-color: #444df2;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgba(68, 77, 242, 0.65);
    }
  
    &:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }
  }
  
  .header {
    text-align: center;
    margin-bottom: 16px;
  
    h1 {
      color: #444df2;
      font-size: 46px;
      font-weight: 700;
    }
  
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }
  
  .back-icon {
    position: absolute;
    top: 45px;
    left: 35px;
    cursor: pointer;
  
    img {
      width: 40px;
      height: 40px;
    }
  
    .hover-icon {
      display: none;
    }
  
    &:hover .normal-icon {
      display: none;
    }
  
    &:hover .hover-icon {
      display: block;
    }
  }
  
  /* Success message overlay */

@keyframes slideInSuccess {
    0% {
      transform: translate(100%, 0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutSuccess {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0);
      opacity: 0;
    }
  }
  
  .success-msg-container {
    position: absolute;
    right: 32px;
    bottom: 64px;
    padding: 50px;
    border-radius: 30px 30px 0 30px;
    background-color: #444df2;
    color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
  
    > span {
      font-size: 36px;
      font-weight: 700;
    }
  
    &.show {
      animation: slideInSuccess 1s ease-in forwards, slideOutSuccess 0.2s 2s ease-out forwards;
    }
  }