<div class="mainImpressumContainer">
   <div class="loggoLeft">
      <img src="/dabubble/browser/public/img/Logo.png" alt="DABubble-Loggo-Impressum" />
      <p>DABubble</p>
   </div>
   <div class="impressumContent">
      <img src="/dabubble/browser/public/img/icons/goBack.png" alt="back-Img" (click)="navigateToLogin()" />
      <h1>Impressum</h1>
      <span>According to § 5 TMG</span>
      <div class="dataDiv">
         <p>Emanuel Schäfer</p>
         <p>Carlos Reverchon</p>
         <p>Hohenau 6290</p>
      </div>
      <h2>Contact:</h2>
      <div class="infoDiv">
         <p>Phone: +595 994 852395</p>
         <p>E-Mail: contact&#64;emanuel-schaefer.com</p>
      </div>
      <div class="divQuelle">
         <p>Quelle:</p>
         <a href="https://www.e-recht24.de/impressum-generator.html"> eRecht24 </a>
      </div>
   </div>
</div>
