<section (mouseover)="showIcons()" (mouseout)="hideIcons()">
   @if(message) {
   <div class="parting-line">
      <div class="line"></div>
      @if(!isReply) {
      <div class="timestamp-container">{{ formattedDate }}</div>
      }
   </div>
   <div class="functionsIconsDiv" *ngIf="showIconsDiv">
      <img src="/dabubble/browser/public/img/emotes/pray-emote.png"
         (mouseenter)="changeImage($event, '/dabubble/browser/public/img/emotes/Hands up.png')"
         (mouseleave)="resetImage($event, '/dabubble/browser/public/img/emotes/pray-emote.png')"
         (click)="handleEmoteClick('/dabubble/browser/public/img/emotes/pray-emote.png')" />
      <img src="/dabubble/browser/public/img/emotes/right-emote.png"
         (mouseenter)="changeImage($event, '/dabubble/browser/public/img/emotes/check mark.png')"
         (mouseleave)="resetImage($event, '/dabubble/browser/public/img/emotes/right-emote.png')"
         (click)="handleEmoteClick('/dabubble/browser/public/img/emotes/right-emote.png')" />
      <img src="/dabubble/browser/public/img/icons/add_reaction.png"
         (mouseenter)="changeImage($event, '/dabubble/browser/public/img/icons/add reaction.png')"
         (mouseleave)="resetImage($event, '/dabubble/browser/public/img/icons/add_reaction.png')"
         (click)="toggleEmojiPicker()" />
      <div *ngIf="showEmojiPicker" class="overlay" (click)="closeEmojiPicker($event)">
         <div class="emoji-picker">
            <div *ngFor="let emote of emotes" class="emoji-item" (click)="handleEmoteClick(emote)">
               <img [src]="emote" alt="emote" />
            </div>
         </div>
      </div>
      @if(!isReply){
      <img src="/dabubble/browser/public/img/icons/comment.png"
         (mouseenter)="changeImage($event, '/dabubble/browser/public/img/icons/Answer.png')"
         (mouseleave)="resetImage($event, '/dabubble/browser/public/img/icons/comment.png')" (click)="openThread()" />
      }
   </div>
   <div class="bgHover">
      <div class="profile">
         <img [src]="message.profilePicture || '/dabubble/browser/public/img/profile-pics-register/avatar_default.png'"
            alt="profil-pic" class="profil-pic" />
         <div class="text-container">
            <div class="info-container">
               <span class="name" (click)="selectProfile(message.userName)">{{ message.userName }}</span>
               <span class="time">{{ formattedTime }}</span>
            </div>
            <div class="bg-color" [ngClass]="{ mentioned: isMentioned }">
               <article>
                  {{ message.text }}
               </article>
               <div *ngIf="message.files && message.files.length > 0" class="file-previews">
                  <div *ngFor="let file of message.files" class="file-preview" (click)="openFile(file)">
                     <img class="preview-img" *ngIf="file.type.startsWith('image/')" [src]="file.url"
                        alt="Image preview" />
                     <a *ngIf="file.type === 'application/pdf'" [href]="file.url" target="_blank">
                        <div class="pdf-file-container">
                           <img src="/dabubble/browser/public/img/icons/pdf_icon.png" alt="PDF File" />
                           <p>{{ file.name }}</p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="repliesContainer">
               <div>
                  <app-reactions [message]="message" [channelId]="currentChannelId"></app-reactions>
               </div>
               <div class="answers-info" *ngIf="message.answers && message.answers.length > 0">
                  <span class="answer-count" (click)="openThread()">{{ message.answers.length }} Antworten</span>
               </div>
               <span class="reply-time" *ngIf="message.answers && message.answers.length > 0">Letzte Antwort {{
                  this.formattedLastAnswerTime }}</span>
            </div>
         </div>
      </div>
   </div>
   }
</section>