<mat-card [formGroup]="profileForm">
   <div class="header">
      <span>Dein Profil bearbeiten</span>
      <img (click)="close()" src="public/img/icons/close.png" alt="close-icon" />
   </div>
   <div class="image">
      <img src="{{ authService.currentUser?.photoURL }}" alt="profil-pic" />
      <button class="btn-style" (click)="selectAvatar()">Avatar ändern</button>
   </div>
   <div class="name">
      <div class="username-container">
         <img src="public/img/icons/account_circle.png" alt="" />
         <span class="fs-20">Vollständiger Name</span>
      </div>
      <input type="text" class="fs-18" formControlName="username" />
      <div class="error-msg-container">
         <div class="error" *ngIf="usernameErrorMessage">
            {{ usernameErrorMessage }}
         </div>
      </div>
   </div>
   <div class="email-container">
      <div class="email">
         <img src="public/img/icons/mail.png" alt="mail-icon" />
         <span class="fs-20">E-Mail-Adresse</span>
      </div>
      <div class="input-container">
         <input type="email" class="fs-18" formControlName="email" />
         <div class="error-msg-container">
            <div class="error" *ngIf="emailErrorMessage">
               {{ emailErrorMessage }}
            </div>
         </div>
      </div>
   </div>
   <mat-card-actions>
      <button (click)="close()">Abbrechen</button>
      <button class="save-btn" (click)="updateUserProfile()" [disabled]="!isSaveButtonEnabled">Speichern</button>
   </mat-card-actions>
</mat-card>
