<header>
   <div *ngIf="isLargeScreen || drawerOpen" class="logo-container">
      <img class="logo" src="/dabubble/browser/public/img/Logo.png" alt="logo" />
      <h4>DABubble</h4>
   </div>

   <div *ngIf="!isLargeScreen && !drawerOpen" class="logo-container-mobile">
      <img (click)="toggleDrawer()" src="/dabubble/browser/public/img/icons/68. Arrow.png" alt="arrow-img"
         class="arrow-back" />
      <img src="/dabubble/browser/public/img/icons/15B. Channel name.png" alt="channel-name-img" />
   </div>

   <div class="input-container">
      <input class="search-input" placeholder="Code learning durchsuchen" type="text" required
         (input)="search($event)" />
      <button class="search-btn"><img src="/dabubble/browser/public/img/icons/search-icon.png"
            alt="lupe-img" /></button>
   </div>
   <div class="search-results-container-two">
      <div *ngIf="searchResults.length > 0" class="search-results-two">
         <strong>Benutzer:</strong>
         <div *ngIf="filteredUsers.length > 0">
            <div *ngFor="let user of filteredUsers" (click)="selectResult(user)">
               <span>• {{ user.name }}</span>
            </div>
         </div>
         <strong>Channel:</strong>
         <div *ngIf="filteredChannels.length > 0">
            <div *ngFor="let channel of getCombinedChannels()" (click)="selectChannel(channel.channelId)"
               [routerLink]="[channel.channelId]"
               [ngClass]="{ 'selected-channel': selectedChannelId === channel.channelId }">
               <span># {{ channel.channelName }}</span>
            </div>
         </div>
         <strong>Nachrichten:</strong>
         <div *ngIf="filteredMessages.length > 0">
            <div *ngFor="let message of filteredMessages" (click)="selectMessage(message)"
               [id]="'message' + message.messageId">
               <span>[#{{ message.channelName }}] {{ message.text }}</span>
            </div>
         </div>
      </div>
   </div>
   <div #profilContainer class="profil-container" (click)="openDialog()">
      <h4>{{ authService.currentUser?.displayName || "Gast" }}</h4>
      <img class="profil-pic"
         [src]="authService.currentUser?.photoURL || './dabubble/browser/public/img/profile-pics-register/avatar_default.png'"
         alt="profile-pic" />
      <img class="drop-down-btn" src="/dabubble/browser/public/img/icons/dropdown-icon.png" alt="dropdown-icon" />
   </div>
</header>