<mat-card class="reset-pw-card">
   <div class="header">
      <h1>Passwort zurücksetzen</h1>
      <div class="back-icon" (click)="goBack()">
         <img src="/dabubble/browser/public/img/icons/goBack.png" alt="Go Back" class="normal-icon" />
         <img src="/dabubble/browser/public/img/icons/goBack_hover.png" alt="Go Back Hover" class="hover-icon" />
      </div>
      <div class="text-container">
         <p>Bitte geben Sie Ihre E-Mail-Adresse ein, um Ihr Passwort zurückzusetzen.</p>
      </div>
   </div>
   <mat-card-content>
      <form [formGroup]="resetPasswordForm" class="custom-form" (ngSubmit)="onSubmitReset()">
         <div class="input-field">
            <div class="form-field">
               <div class="input-wrapper">
                  <img src="/dabubble/browser/public/img/icons/mail.png" alt="Mail" />
                  <input formControlName="email" type="email" required placeholder="beispielname@email.com" />
               </div>
               <div class="error-message"
                  *ngIf="(resetPasswordForm.get('email')!.invalid && resetPasswordForm.get('email')!.touched) || resetPasswordForm.get('email')!.dirty">
                  {{ errorMessage }}
               </div>
            </div>
         </div>
         <div class="text-container">
            <p class="form-text">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
         </div>
         <div class="btn-container">
            <button mat-raised-button class="sendMailBtn" type="submit" [disabled]="resetPasswordForm.invalid">E-Mail
               senden</button>
         </div>
      </form>
   </mat-card-content>
</mat-card>
<div class="success-msg-container" [class.show]="this.authService.isSuccessMessageVisible">
   <span>E-Mail gesendet!</span>
</div>