<main>
   <section class="text">
      <div class="header">
         <span>Leute hinzufügen</span>
         <img (click)="closeDialog()" src="public/img/icons/close.png" alt="close_icon" />
      </div>
      <div class="hash">
         <img src="public/img/workspaceImg/tag (1).png" alt="hash" />
         <span>{{ currentChannelName }}</span>
      </div>
   </section>
   <section class="input-section">
      @if(selectedUser) {
      <div class="container-for-selected-user">
         <div class="selected-user-container">
            <span class="selected-user"><img [src]="selectedUser.photoUrl" alt="{{ selectedUser.name }}" /> {{ selectedUser.name }}</span>
            <img class="close-image" (click)="removeSelectedUser()" src="public/img/icons/close.png" alt="close" />
         </div>
      </div>
      }@else {
      <input type="text" #input placeholder="Name eingeben" (input)="searchForUserByInput()" [(ngModel)]="username" />
      } @if(username()) {
      <div class="search-output">
         @for (user of filteredUser; track $index) {
         <div (click)="addToInput(user)" class="user-profile-to-select">
            <img [src]="user.photoUrl" alt="{{ user.name }}" />
            {{ user.name }}
         </div>
         }
      </div>
      }
   </section>
   <section class="btn-section">
      <button [disabled]="selectedUser == null || isUserInChannel" (click)="addUserToChannel()">Hinzufügen</button>
   </section>
</main>
